.product-details h1{
    padding-bottom: 10px;
    margin: 20px;
    border-bottom:2px solid skyblue;
}
.productdetails{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.product-page {
    display: flex;
}
.flex{
    display: flex;
    width: 600px;
}
.add-to-cart{
    background-color:skyblue;
    border: None;
    width: 50%;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
.price{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.product-image img{
    height: 450px;
    width: 400px;
    margin-right: 99px;
    margin-top: 20px;
}
.tab{
    display: flex;
    justify-content: space-between;
}
.slider-view{
    margin-top: 30px;
}
.slide-img{
    margin-left: 70px;
    margin-right: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
